@import "../../../styles/variables";
@import "../../../styles/screensize";

.contents {
  padding: 40px 20px;
  margin: 0 auto;
  @include tabletSS {
    padding: 20px 10px;
  }
  table {
    min-width: calc(100vw - 400px);
    // width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    border-radius: 20px 20px 5px 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  table tr th {
    background-color: $primaryColor;
    color: #fff;
    padding: 10px;
    text-align: left;
    // font-weight: 300;
    font-weight: bold;
  }

  table tr {
    border-bottom: 1px solid $secondaryColor;
  }

  table tr:hover {
    background-color: $primaryColor;
    color: #fff;
    font-weight: 300;
  }

  tr:nth-of-type(even) {
    background-color: #fff;
  }

  tr:last-of-type {
    border-bottom: 2px solid $primaryColor;
  }
  td {
    padding: 10px 12px;
  }
}
