@import "../../../../styles/variables";
@import "../../../../styles/screensize";

.markdown_section {
  padding: 10px 40px;
  margin-left: 200px;
  padding-top: 50px;

  @include mobileSS {
    margin: 0px;
    margin-top: 50px;
  }
  h1 {
    font-size: 2.8rem;
    padding-top: 20px;
    color: $primaryColor;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  p {
    text-align: justify;
    text-justify: inter-word;
    margin: 10px 0;
    color: rgb(22, 22, 22);
    line-height: 1.6;
    font-weight: 200;
    font-size: 1.5rem;
    padding-left: 20px;

    img {
      padding: 10 auto;
      width: fit-content;
      border-radius: 8px;
      max-width: 100%;
      height: auto;
    }
    @include tabletSS {
      font-weight: 300;
    }

    @include mobileSS {
      font-weight: 300;
    }
  }

  ul {
    // list-style: lower-alpha;
    color: rgb(55, 56, 57);
    font-weight: 200;
    padding: 5px;
    li {
      list-style: disc;
      padding: 5px;
      // line-height: 1.8;
      margin-left: 20px;
    }
  }

  ol {
    color: rgb(55, 56, 57);
    font-weight: 200;
    li {
      list-style: decimal;
      padding: 5px;
      margin-left: 20px;
    }
  }

  table {
    color: rgb(55, 56, 57);
    font-weight: 200;

    th,
    td {
      padding: 10px;
      text-align: left;
    }

    tr:nth-child(even) {
      background-color: #e2effb;
    }

    th {
      background-color: rgb(6, 116, 143);
      color: white;
      font-weight: 300;
    }
    // thead {
    //   background-color: rgb(6, 116, 143);
    //   color: white;
    // }
  }

  hr {
    margin-bottom: 10px;
  }
}
