@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;900&family=Roboto:wght@300;400;500;900&display=swap");

@import "reset";
@import "variables";
@import "colors";
@import "mixins";
@import "mixins_pub";
@import "screensize";
@import "dashboard";
@import "layouts";
@import "typos";
@import "table";
@import "navbar";
@import "imager";
@import "sidebar";
@import "markdown";
@import "post_page";
@import "posts";
@import "pharmacist";
@import "footer";
@import "footer";
@import "modal";
@import "form";
@import "buttons";
@import "wrappers";
@import "preview";
@import "devStatesRep";
@import "payment";
@import "landing";
@import "verifypage";
@import "chart";
@import "lgatable";
@import "ward";
@import "home.module";
@import "edit_page.module";
@import "deletepopup.module";
@import "dashboard_new";

:root {
  --fontFamily: "Roboto", sans-serif;
  /* --fontFamily: "Space Grotesk, sans-serif", */
}

body {
  font-family: var(--fontFamily);
}

.none {
  display: none;
}
